.divText .txtGif {
    padding:7px 0px 7px 3px;
    border:none;
    border:2px solid black;
    outline:none;
    margin-top:3%;
    border-radius:5px;
    margin-bottom:3%;
    width:29%;
    font-family:fantasy;
    font-size:20px;
}
.divText{
    text-align:center;
}
@media screen and (max-width: 767px){
    .divText {
        width:100%;
        margin:auto;
    }
}