.divCardUI {
    border:2px solid black;
    width:30%;
    margin:auto;
    text-align:center;
}
.divCardUI {
    margin-bottom:1%;
}
.divInfo{
    display:flex;
}
.txtTitle{
    font-size:20px;
    background-color:brown;
    margin:0;
    padding:0;
}
.txtTitle {
    padding:10px;
}
.imgCard{
    width:300px;
    height:300px;
}
@media screen and (max-width: 767px){
    .imgCard{
        width:250px;
        height:250px;
    }
    .divCardUI{
        width:75%;
    }
}